$black: black;
$white: white;
$transparent: rgba(0, 0, 0, 0.6);
$transparent-darker: rgba(0, 0, 0, 0.9);
$gray: rgb(183, 183, 183);
$light-gray: rgb(237, 237, 237);
$gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
$hover: rgb(170, 170, 170);

$phone: rgb(160, 138, 53);
$whatsapp: rgb(59, 118, 59);
$telegram: rgb(46, 102, 145);
$instagram: rgb(90, 56, 90);